<div class="container">
    <h2>Ordenanzas</h2>
    <hr>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
          Año 2021
        </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="#">{{'ORDENANZA PARA EL MANEJO, RECUPERACIÓN, PROTECCIÓN Y CONTROL DE LA FAUNA URBANA EN EL CANTÓN CALVAS' | titlecase}}</a></li>
                        <li><a href="#">{{'ORDENANZA SUSTITUTIVA A LA ORDENANZA MODIFICATORIA Y DE ACTUALIZACIÓN DEL LÍMITE URBANO DE LA CIUDAD DE CARIAMANGA, CABECERA CANTONAL DE CALVAS' | titlecase}}</a></li>
                        <li><a href="#">{{'ORDENANZA QUE REGULA EL USO DE BALNEARIOS, RIBERAS DE RIOS, LAGOS Y LAGUNAS EN EL CANTÓN CALVAS, EN ÉPOCAS DE PANDEMIA POR EL COVID 19' | titlecase}}</a></li>
                        <li><a href="#">{{'REFORMA A LA ORDENANZA QUE REGULA LA APLICACIÓN DE MEDIDAS DE PREVENCIÓN Y NORMAS DE BIOSEGURIDAD PARA ENFRENTAR LA PANDEMIA DEL COVID-19 EN EL CANTON CALVAS' | titlecase}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
        Año 2020
      </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    This is the first item's accordion body.
                </div>
            </div>
        </div>

    </div>
</div>
