<nav>
    <div class="logo">
        <img src="assets/images/Calvas-logo.png" alt="logo gobierno">
    </div>
    <div class="navbar-wrapper">
        <a routerLink="/home" routerLinkActive="active">Inicio</a>
        <a routerLink="/tramites/listing" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trámites</a>
        <a href="#">Sobre Calvas</a>
        <a href="#">Servicios</a>
    </div>
    <div class="social-media">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</nav>
