$primary: #A61C3C;
$secondary: #72bda3;
$tertiary: #FADF63;
$dark: #2a2b2a;
$light: #1E91D6;
$white: #fff;
// nav
nav {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    background-color: $white;
}

.navbar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social-media a {
    margin-right: 5px;
    cursor: pointer;
}

.fa-facebook,
.fa-twitter {
    color: $primary;
    font-size: 18px;
}

nav .logo {
    width: 12%;
}

.logo img {
    width: 100%;
}

.navbar-wrapper a {
    padding: 10px 30px;
    position: relative;
    transition: background-color .3s;
    color: $dark;
    overflow: hidden;
}

.navbar-wrapper a:hover {
    background-color: #eee;
    color: #A61C3C;
    background-size: cover;
}

a {
    margin-left: 5px;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    z-index: 100;
    width: 0%;
    height: 2px;
    background-color: $primary;
    transition: width .5s;
    transform: translateX(-30px);
}

a.active {
    background-color: #eee;
    color: $primary;
}

a.active::before,
a:hover::before {
    content: '';
    position: absolute;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    height: 2px;
    background-color: $primary;
    transition: width .5s;
    transform: translateX(-30px);
}

.social-media button {
    background-color: transparent;
    border: none;
}

// End nav
