<nav>
    <div class="logo">
        <img src="assets/images/Calvas-logo.png" alt="logo gobierno">
    </div>
    <div class="navbar-wrapper">
        <a href="#">Inicio</a>
        <a href="#">Información</a>
        <a href="#">Sobre Calvas</a>
        <a href="#">Servicios</a>
    </div>
    <div class="social-media">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</nav>

<main>
    <section class="jumbotron">
        <div class="jumbotron-img-wrapper">
            <img class="img-main" src="assets/images/cerro-ahuaca.jpg" alt="">
            <img class="img-background" src="assets/images/background.svg" alt="">
        </div>
        <div class="jumbotron-content-wrapper">
            <h1>Gobierno Autonomo Decentralizado del Cantón Calvas</h1>
            <p>Trabajando por un mejor Calvas</p>
            <div class="form-wrapper">
                <form>
                    <button class="more">Conocer más</button>
                    <button class="about">Sobre nosotros</button>
                </form>
            </div>
        </div>
    </section>
    <section class="information">
        <h2>Información</h2>
        <div class="information-cards">
            <div class="card">
                <i class="fas fa-binoculars"></i>
                <h3>Lugares Turisticos</h3>
                <p>lorem ipsun dolor</p>
            </div>
            <div class="card">
                <i class="fas fa-clock"></i>
                <h3>Horarios de recolección</h3>
                <p>lorem ipsun dolor</p>
            </div>
            <div class="card">
                <!-- <img src="assets/images/tramites.jpg" alt=""> -->
                <i class="fas fa-clipboard-list"></i>
                <h3>Trámites</h3>
                <p>Si desea realizar algún trámite, haga click para ir a la sección</p>
            </div>
            <div class="card">
                <i class="fas fa-calendar-day"></i>
                <h3>Eventos</h3>
                <p>lorem ipsun dolor</p>
            </div>
        </div>
    </section>
    <section class="latest-news">
        <h2>Últimas notícias</h2>
        <div class="news-cards">
            <div class="news-card">
                <div class="card-img">
                    <img src="assets/images/highway.jpg">
                </div>
                <div class="card-body">
                    <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                    <p>Técnicos de Control de tránsito y Seguridad Vial de Loja, llegaron a Cariamanga a fin de realizar una inspección en diferentes zonas donde es necesaria la ubicación de reductores de velocidad.</p>
                    <button>Ver más</button>
                </div>
            </div>
            <div class="news-card">
                <div class="card-img">
                    <img src="assets/images/highway.jpg">
                </div>
                <div class="card-body">
                    <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                    <p>Técnicos de Control de tránsito y Seguridad Vial de Loja, llegaron a Cariamanga a fin de realizar una inspección en diferentes zonas donde es necesaria la ubicación de reductores de velocidad.</p>
                    <button>Ver más</button>
                </div>
            </div>
            <div class="news-card">
                <div class="card-img">
                    <img src="assets/images/highway.jpg">
                </div>
                <div class="card-body">
                    <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                    <p>Técnicos de Control de tránsito y Seguridad Vial de Loja, llegaron a Cariamanga a fin de realizar una inspección en diferentes zonas donde es necesaria la ubicación de reductores de velocidad.</p>
                    <button>Ver más</button>
                </div>
            </div>
        </div>
    </section>
    <section class="magic">
        <h2>Somos pueblo mágico</h2>
        <div class="magic-content">
            <div class="magic-img">
                <img src="assets/images/magico.png" alt="">
            </div>
            <div class="magic-text">
                <p>(Loja) Mediante rueda de prensa el Alcalde de Calvas anuncio la obtención de la declaratoria de #PueblosMágicosEc programa emblemático de desarrollo turístico del Ministerio de Turismo. Para acceder esta categoría se debió cumplir con
                    15 requisitos indispensables, entre los que destaca conformación de un Comité Ciudadano para que los pobladores se empoderen del programa y el mismo tenga continuidad. Durante la rueda de prensa Lorena Costa, Gobernadora de la provincia
                    destacó la importante obtención de esta declaratoria en beneficio del sector turístico, “seguimos trabajando desde el gobierno central con el camino trazado para dinamizar la economía de nuestros destinos”, manifestó.</p>
            </div>
        </div>
    </section>
</main>
