@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
$primary: #A61C3C;
$secondary: #72bda3;
$tertiary: #FADF63;
$dark: #2a2b2a;
$light: #1E91D6;
$white: #fff;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: $dark;
}

h2::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: $dark;
    bottom: -1px;
    transform: translateX(-50px);
}

section {
    padding: 10px 0;
}

// nav
nav {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    background-color: $white;
}

.navbar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social-media a {
    margin-right: 5px;
    cursor: pointer;
}

.fa-facebook,
.fa-twitter {
    color: $primary;
    font-size: 18px;
}

nav .logo {
    width: 12%;
}

.logo img {
    width: 100%;
}

.navbar-wrapper a {
    padding: 10px 30px;
    position: relative;
    transition: background-color .3s;
    color: $dark;
    overflow: hidden;
}

.navbar-wrapper a:hover {
    background-color: #eee;
    color: #A61C3C;
    background-size: cover;
}

a::before {
    content: '';
    position: absolute;
    bottom: 2px;
    z-index: 100;
    width: 0%;
    height: 2px;
    background-color: $primary;
    transition: width .5s;
    transform: translateX(-30px);
}

a:hover::before {
    content: '';
    position: absolute;
    bottom: 2px;
    z-index: 100;
    width: 100%;
    height: 2px;
    background-color: $primary;
    transition: width .5s;
    transform: translateX(-30px);
}

.social-media button {
    background-color: transparent;
    border: none;
}

// End nav
// Jumbotron
.jumbotron {
    background-size: cover;
    width: 100%;
    height: 55vh;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(rgb(62 62 62 / 63%), rgb(62 62 62 / 63%)), url(../assets/images/cerro-ahuaca.jpg) top -200px left 0 no-repeat;
    background-size: cover;
}

.jumbotron img {
    border-radius: 10px;
}

.jumbotron-img-wrapper {
    height: 55vh;
}

img.img-main {
    position: absolute;
    z-index: -3;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jumbotron-content-wrapper {
    position: absolute;
    left: 40px;
    width: 50%;
    z-index: 100;
    padding: 20px;
    background-color: #a61c3c78;
}

.jumbotron-content-wrapper h1 {
    color: #fff;
    font-size: 55px;
    line-height: 60px;
    font-family: 'Big Shoulders Display', sans-serif;
}

.jumbotron-content-wrapper p {
    color: #eee;
    font-size: 35px;
}

.jumbotron-content-wrapper small {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
}

form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

form input {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #999;
    padding-left: 20px;
}

form button {
    width: 30%;
    height: 50px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

button.more {
    border: 1px solid $primary;
    background-color: #f5f5f5;
    color: $primary;
    margin-right: 15px;
}

button.about {
    border: none;
    background: $tertiary;
    color: $dark;
}

// End jumbotron
// Information
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 65vh;
    background-color: rgb(226, 226, 226);
}

.information-cards {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    background-color: #f5f5f5;
    margin-right: 10px;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(100, 100, 111, .4);
}

.card img {
    width: 100%;
}

.card i {
    margin-top: 20px;
    font-size: 60px;
    color: #eee;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid $dark;
}

.card-events i {
    background-color: #A61C3C;
}

.card-place i {
    background-color: #e79908;
}

.card-formalities i {
    background-color: yellowgreen;
}

.card-schedule i {
    background-color: #1E91D6;
}

.card-place::before,
.card-schedule::before,
.card-formalities::before,
.card-events::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    top: 0;
    z-index: 100;
}

.card-place::before {
    background-color: #e79908;
}

.card-schedule::before {
    background-color: #1E91D6;
}

.card-formalities::before {
    background-color: yellowgreen;
}

.card-events::before {
    background-color: #A61C3C;
}

.card h3 {
    text-align: center;
    padding-top: 25px;
    text-transform: capitalize;
}

// End information
// Latest news
.latest-news {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.news-cards .card img {
    height: 50%;
}

.news-cards {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.news-card {
    width: 25%;
    height: auto;
    border: 1px solid rgba(100, 100, 111, .4);
    border-radius: 10px;
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.card button {
    background-color: #FADF63;
    color: #222;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
}

.card-body {
    padding: 10px 15px;
}

.card-body button {
    border: none;
    height: 40px;
    padding: 10px 40px;
    background-color: $light;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    margin-top: 10px;
    border-radius: 5px;
}

// End Latest news
// Magic
.magic {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // background-color: rgb(226, 226, 226);
}

.magic-content {
    background: linear-gradient( rgba(39, 39, 61, 0.3), rgba(39, 39, 61, 0.3)), url('../assets/images/letras-cariamanga.jpg') top -75px left 0 no-repeat;
    background-size: cover;
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.magic-img {
    width: 50%;
    background-color: $primary;
    padding: 20px;
    position: absolute;
    left: -100px;
}

.magic-img img {
    width: 100%;
}

.magic-text {
    width: 40%;
    background-color: rgba(46, 46, 46, 0.4);
    color: #fff;
    padding: 30px;
    align-self: flex-end;
    position: absolute;
    right: 20px;
    bottom: 142px;
}

// End Magic
