<div class="container-fluid">
    <h1>Autoridades del municipio</h1>
    <hr>
    <section>
        <div class="autoridades__alcaldes d-flex flex-row">
            <div class="autoridades__alcalde_alcalde w-50 text-center">
                <h3>Soc. Alex Sigifredo Padilla Torres</h3>
                <h5>ALCALDE</h5>
                <img src="http://www.gobiernocalvas.gob.ec/images/Autoridades/socalexpadilla.png" alt=""><br>
                <a href="#" target="_blank">alex.padilla@gobiernocalvas.gob.ec</a>
                <p>(07) 2687663 - 2687997 - 2687501 Ext. 102</p>
            </div>
            <div class="autoridades__alcalde_vicealcalde w-50 text-center">
                <h3>Soc. Alex Sigifredo Padilla Torres</h3>
                <h5>VICEALCALDE</h5>
                <img src="http://www.gobiernocalvas.gob.ec/images/Autoridades/ingadolfoimaicela.png" alt=""><br>
                <a href="#" target="_blank">adolfo.imaicela@gobiernocalvas.gob.ec</a>
                <p>(07) 2687663 - 2687997 - 2687501 Ext. 113</p>
            </div>
        </div>
        <div class="autoridades__consejales d-flex flex-row">
            <div class="autoridades__alcalde_alcalde w-25 text-center">
                <h3>Soc. Alex Sigifredo Padilla Torres</h3>
                <h5>ALCALDE</h5>
                <img src="http://www.gobiernocalvas.gob.ec/images/Autoridades/socalexpadilla.png" alt=""><br>
                <a href="#" target="_blank">alex.padilla@gobiernocalvas.gob.ec</a>
                <p>(07) 2687663 - 2687997 - 2687501 Ext. 102</p>
            </div>
            <div class="autoridades__alcalde_vicealcalde w-25 text-center">
                <h3>Soc. Alex Sigifredo Padilla Torres</h3>
                <h5>VICEALCALDE</h5>
                <img src="http://www.gobiernocalvas.gob.ec/images/Autoridades/ingadolfoimaicela.png" alt=""><br>
                <a href="#" target="_blank">adolfo.imaicela@gobiernocalvas.gob.ec</a>
                <p>(07) 2687663 - 2687997 - 2687501 Ext. 113</p>
            </div>
            <div class="autoridades__alcalde_alcalde w-25 text-center">
                <h3>Soc. Alex Sigifredo Padilla Torres</h3>
                <h5>ALCALDE</h5>
                <img src="http://www.gobiernocalvas.gob.ec/images/Autoridades/socalexpadilla.png" alt=""><br>
                <a href="#" target="_blank">alex.padilla@gobiernocalvas.gob.ec</a>
                <p>(07) 2687663 - 2687997 - 2687501 Ext. 102</p>
            </div>
            <div class="autoridades__alcalde_vicealcalde w-25 text-center">
                <h3>Soc. Alex Sigifredo Padilla Torres</h3>
                <h5>VICEALCALDE</h5>
                <img src="http://www.gobiernocalvas.gob.ec/images/Autoridades/ingadolfoimaicela.png" alt=""><br>
                <a href="#" target="_blank">adolfo.imaicela@gobiernocalvas.gob.ec</a>
                <p>(07) 2687663 - 2687997 - 2687501 Ext. 113</p>
            </div>
        </div>
    </section>
</div>
