<main>
    <section class="jumbotron">
        <div class="jumbotron-img-wrapper">
            <img class="img-jumbo" src="assets/images/cerro-ahuaca.jpg" alt="">
        </div>
        <div class="jumbotron-content-wrapper">
            <h1>Gobierno Autonomo Decentralizado del Cantón Calvas</h1>
            <p>Trabajando por un mejor Calvas</p>
        </div>
    </section>
    <section class="information">
        <h2>Información</h2>
        <div class="information-cards">
            <div class="card card-place">
                <i class="fas fa-binoculars"></i>
                <h3>Lugares Turisticos</h3>
                <p>lorem ipsun dolor</p>
            </div>
            <div class="card card-schedule">
                <i class="fas fa-clock"></i>
                <h3>Horarios de recolección</h3>
                <p>lorem ipsun dolor</p>
            </div>
            <div class="card card-formalities" (click)="toFormalities()">
                <i class="fas fa-clipboard-list"></i>
                <h3>Trámites</h3>
                <p>Si desea realizar algún trámite, haga click para ir a la sección</p>
            </div>
            <div class="card card-events">
                <i class="fas fa-calendar-day"></i>
                <h3>Eventos</h3>
                <p>lorem ipsun dolor</p>
            </div>
        </div>
    </section>
    <section class="latest-news">
        <h2>Últimas notícias</h2>
        <div class="news-cards">
            <div class="news-card">
                <div class="card-img">
                    <img src="assets/images/highway.jpg">
                </div>
                <div class="card-body">
                    <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                </div>
            </div>
            <div class="news-4">
                <div class="news-card">
                    <div class="card-img">
                        <img src="assets/images/highway.jpg">
                    </div>
                    <div class="card-body">
                        <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                    </div>
                </div>
                <div class="news-card">
                    <div class="card-img">
                        <img src="assets/images/highway.jpg">
                    </div>
                    <div class="card-body">
                        <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                    </div>
                </div>


                <div class="news-card">
                    <div class="card-img">
                        <img src="assets/images/highway.jpg">
                    </div>
                    <div class="card-body">
                        <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                    </div>
                </div>
                <div class="news-card">
                    <div class="card-img">
                        <img src="assets/images/highway.jpg">
                    </div>
                    <div class="card-body">
                        <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="news-cards-4">
              <div class="news-card-4">
                  <div class="card-img">
                      <img src="assets/images/highway.jpg">
                  </div>
                  <div class="card-body">
                      <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                  </div>
              </div>
              <div class="news-card-4">
                  <div class="card-img">
                      <img src="assets/images/highway.jpg">
                  </div>
                  <div class="card-body">
                      <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                  </div>
              </div>
              <div class="news-card-4">
                  <div class="card-img">
                      <img src="assets/images/highway.jpg">
                  </div>
                  <div class="card-body">
                      <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                  </div>
              </div>
              <div class="news-card-4">
                  <div class="card-img">
                      <img src="assets/images/highway.jpg">
                  </div>
                  <div class="card-body">
                      <h3>Se analiza la colocación de reductores de velocidad y señalética en la vía a Loja.</h3>
                  </div>
              </div>
          </div> -->
        </div>
    </section>
    <section class="magic">
        <h2>Somos pueblo mágico</h2>
        <div class="magic-content">
            <div class="magic-img">
                <img src="assets/images/magico.png" alt="">
            </div>
            <div class="magic-text">
                <p>(Loja) Mediante rueda de prensa el Alcalde de Calvas anuncio la obtención de la declaratoria de #PueblosMágicosEc programa emblemático de desarrollo turístico del Ministerio de Turismo. Para acceder esta categoría se debió cumplir con
                    15 requisitos indispensables, entre los que destaca conformación de un Comité Ciudadano para que los pobladores se empoderen del programa y el mismo tenga continuidad. Durante la rueda de prensa Lorena Costa, Gobernadora de la provincia
                    destacó la importante obtención de esta declaratoria en beneficio del sector turístico, “seguimos trabajando desde el gobierno central con el camino trazado para dinamizar la economía de nuestros destinos”, manifestó.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-wrapper">
            <div class="info">
                <div class="formalities">
                    <h6>Trámites</h6>
                    <ul>
                        <li>Tramite 1</li>
                        <li>Tramite 1</li>
                        <li>Tramite 1</li>
                        <li>Tramite 1</li>
                    </ul>
                </div>
                <div class="orders">
                    <h6>Ordenanzas</h6>
                    <ul>
                        <li>Ordenanza 1</li>
                        <li>Ordenanza 1</li>
                        <li>Ordenanza 1</li>
                        <li>Ordenanza 1</li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <div class="links">
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="copy">
            <h6><i class="fas fa-copyright"></i> All Rights Reserved Gobierno Autonomo Descentralizado del Cantón Calvas</h6>
        </div>
    </footer>
</main>
